{% extends "root/base.html" %}
{% load static %}


{% block title %}
<title>ROSEFLOURISH - Sign Up</title>
{% endblock %}

{% block content %}
<div class="container text-center col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
      <h1 class="display-4 fw-bold mb-1">
        <img src="{% static 'img/root/root-icon.png' %}" alt="Project Icon" width="30" height="30">
        Sign Up
        <img src="{% static 'img/root/root-icon.png' %}" alt="Project Icon" width="30" height="30" class="me-2">
      </h1>
      <p class="fs-6 text-center">
        <small class="text-body-muted">Already have an account? Then, you can <a href='/login/'>login</a>.</small>
      </p>
      <form method="POST" class="p-2 p-md-2 border rounded-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="w-50 btn-lg btn btn-gradient rounded-pill" type="submit">Sign Up</button>
      </form>
      <small class="text-body-secondary text-center">By clicking Sign up, you agree to the terms of use.</small>
    </div>
</div>
{% endblock content %}