{% load static %}

<div class="container">
    <footer class="py-3 my-3">
      <hr class="my-3 border border-secondary">
      <p class="text-center text-body-secondary fs-6 display-6">
        <a href = "#" class = "link-secondary" disabled>Privacy</a>
        <a href = "#" class = "link-secondary" disabled>About</a>
        <a href = "#" class = "link-secondary" disabled>Contact us</a>
      </p>
      <p class="text-center text-body-secondary display-6 fs-5">
        &copy; All rights reserved |<b> ROSEFLOURISH </b>| Sawada | 2025
      </p>
      <div class = "d-flex justify-content-center">
        <img src="{% static 'img/root/root-icon.png' %}" alt="Project Icon" width="55" height="55" class="me-3">
        <img src="{% static 'img/dj/django-ico.png' %}" alt="Django Icon" width="45" height="55" class="">
      </div>
    </footer>
  </div>