{% extends "root/base.html" %}


{% block title %}
    <title>ROSEFLOURISH - Update User Data</title>
{% endblock title %}


{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-4 text-center text-lg-start">
        <h1 class="display-6 fw-bold lh-1 text-body-emphasis mb-3">Change User Data</h1>
        <p class="fs-4 text-center">
          Don't be afraid of change.
        </p>
      </div>
  
      <div class="col-lg-8">
        <form method="POST" class="p-4 p-md-5 border rounded-3">
          {% csrf_token %}
          {{ form.as_p }}
          <a href="{% url "change-password" username=user.username %}">Change Password</a>
          <button class="w-100 mt-3 btn btn-lg btn-primary rounded-pill" type="submit">
             <i class="bi bi-pencil"></i> Change
            </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}