{% extends "root/base.html" %}
{% load static %}


{% block title %}
    <title>ROSEFLOURISH - Update User Data</title>
{% endblock title %}


{% block content %}
<div class="container text-center col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
      <h1 class="display-4 fw-bold mb-1">
        <img src="{% static 'img/root/root-icon.png' %}" alt="Project Icon" width="30" height="30">
        Change User Data
        <img src="{% static 'img/root/root-icon.png' %}" alt="Project Icon" width="30" height="30" class="me-2">
      </h1>
      <form method="POST" class="p-2 p-md-2 border rounded-3">
        {% csrf_token %}
        {{ form.as_p }}
        <a class = "mb-3" href="{% url "change-password" username=user.username %}">Change Password</a><br>

        <button class="w-50 btn btn-lg btn-gradient rounded-pill mt-3" type="submit">Change</button>
      </form>
    </div>
</div>
{% endblock content %}