{% extends "root/base.html" %}
{% load root_tags %}


{% block title %}
    <title>ROSEFLOURISH - Class - {{group.name}}</title>
{% endblock title %}

{% block content %}
    <div class = "container d-flex justify-content-center text-center">
        <div class = "col">
            <h1>{{group.name}}</h1>
            <p> Description: {{group.desc}}</p>
            <p>
                Course: {{ group.course.name }} ({{ group.course.modules.count }} module(s), {{ group.course.modules|total_lessons }} lesson(s))
                <a href = "{% url 'course' pk=group.course.pk %}">
                    <i class="bi bi-eye bi-primary"></i>
                </a>
            </p>
            <p>Teacher: {{ group.teacher.first_name}} {{ group.teacher.last_name}} <small>@{{group.teacher.username}}</small></p>
            <p>Students ({{group.students.count}}):</p>
            <ul style = "list-style: none;">
                {% for student in group.students.all %}
                    <li>
                        {{ student.first_name}} {{ student.last_name}} <small>@{{student.username}}</small>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}