{% extends "root/base.html" %}
{% load root_tags %}
{% load static %}


{% block title %}
    <title>ROSEFLOURISH - Courses</title>
{% endblock title %}

{% block content %}
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="d-flex justify-content-between align-items-start mt-3 ms-2">
    <form method="GET" class="filter-form">
        <label for="min_price" class="fs-6">Min Price:</label>
        <input class="form-control" type="number" id="min_price" name="min_price" min="0" max="9999" value="0">

        <label for="max_price" class="fs-6">Max Price:</label>
        <input class="form-control" type="number" id="max_price" name="max_price" min="0" max="9999" value="9999">
        
        <button class="btn btn-primary mt-3" id="FilterButton"> 
            <i class="bi bi-arrow-repeat"></i> Filter
        </button>
    </form>

        <div class="ms-3 me-3 mt-3 list-container container-sm border rounded-3">
            <h1 class="text-center mb-4">All Courses</h1>
            <div class="row" id="CoursesRow">
                {% for course in courses %}
                    <div class="col-md-auto col-lg-auto ms-auto me-auto">
                        <div class="card mb-4 overflow-auto" style="max-height: 400px;">
                            <div class="card-body">
                                <h3>
                                    <h4>{{ course.name }}</h4>
                                    <h6
                                    class = "text-secondary fs-6"
                                    style = "width: 450px; white-space: nowrap; 
                                    overflow: hidden; 
                                    text-overflow: ellipsis;">
                                        {{course.desc}}
                                    </h6>
                                    <div class = 'd-flex justify-content-between'>
                                        <a class = "btn btn-primary" href = "{% url "course-detail" pk=course.pk %}">
                                            <i class="bi bi-eye bi-primary"></i> Read
                                        </a>
                                        <text class = "text-secondary">{% if course.price > 0 %} {{course.price}}$ {% else %} FREE {% endif %}</text>
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src = "{% static "js/filter/course_filter.js" %}"></script>

{% endblock content %}