<div class="modal fade" id="cashModal" tabindex="-1" aria-labelledby="cashModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Cash</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="cash-form" method="post">
                    {% csrf_token %}
                    <label for="amount">Amount of cash:</label>
                    <input type="number" name="amount" id="amount" class="form-control" min="0.01" step="0.01" required>
                    <button type="submit" class="btn btn-primary w-100 mt-3">Pay</button>
                </form>
                <div id="cash-message" class="mt-2"></div>
            </div>
        </div>
    </div>
</div>