{% extends "root/base.html" %}


{% block title %}
    <title>ROSEFLOURISH - Update - @{{profile.user.username}}</title>
{% endblock title %}


{% block content %}
    {% if request.session.success_message %}
        <p>{{ request.session.success_message }}</p>
    {% endif %}

    <form method="POST" enctype = "multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class = "btn btn-outline-primary rounded-pill"> <i class="bi bi-upload"></i> Update</button>
    </form>
{% endblock content %}