<div class="modal fade" id="gradeModal" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="gradeModalLabel">Assign Grade</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="gradeForm" method="post" data-url="{% url 'add-grade' %}">
            {% csrf_token %}
            <input type="hidden" name="answer_id" id="answerId">
            <label for="grade">Select Grade:</label>
            <select class="form-select" name="grade">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit" class="btn btn-success mt-2">Submit</button>
          </form>                
        </div>
      </div>
    </div>
  </div>