
$info: rgb(245, 147, 147);
$primary: #E74967;
$secondary: rgb(100, 139, 118);
$success: rgb(152, 218, 94);
$warning: #A7132B;
$danger: #7B001B;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$body-bg: rgb(65, 71, 67);
$body-color: rgb(31, 39, 30);
$link-hover-decoration: none;
$link-hover-color: lighten($link-color, 10%);
$paragraph-margin-bottom: 1.1rem;
$grid-gutter-width: 35px;
$grid-row-columns: 6.9;
$line-height-lg: 1.6;
$line-height-sm: 1.6;
$border-width: 2px;
$border-color: $body-color;
$border-radius: 0.4rem;
$small-font-size: 75%;
$table-bg: rgb(66, 78, 66);
$input-btn-padding-y: 0.4rem;
$input-btn-focus-width: 0.3rem;
$input-btn-padding-y-sm: 0.4rem;
$input-btn-padding-x-sm: 0.6rem;
$input-btn-padding-y-lg: 0.6rem;
$btn-disabled-opacity: 0.8;
$spacer: 1.1rem;
$font-size-base: 1.15rem;
$table-cell-padding: 0.8rem;
$table-cell-padding-sm: 0.4rem;
$input-btn-padding-x: 0.9rem;
$input-bg: rgb(196, 222, 204);
$input-disabled-bg: rgb(204, 172, 170);
$input-color: rgb(66, 92, 73);
$input-border-color: rgb(38, 68, 45);
$input-placeholder-color: $input-border-color;
$input-group-addon-bg: rgb(47, 63, 47);
$custom-control-gutter: 0.6rem;
$custom-control-spacer-x: 1.1rem;
$custom-control-indicator-size: 1.1rem;
$custom-control-indicator-border-color: $warning;
$custom-control-label-disabled-color: rgb(54, 47, 47);
$zindex-dropdown: 1100;
$zindex-sticky: 1120;
$zindex-fixed: 1130;
$zindex-modal-backdrop: 1140;
$zindex-modal: 1150;
$zindex-popover: 1160;
$zindex-tooltip: 1170;
$nav-link-padding-y: 0.35rem;
$nav-link-padding-x: 1.2rem;
$nav-link-disabled-color: rgb(49, 53, 48);
$nav-tabs-border-color: $table-border-color;
$nav-tabs-link-active-color: rgb(255, 133, 133);
$nav-tabs-link-active-border-color: $table-border-color;
$navbar-nav-link-padding-x: 0.6rem;
$navbar-toggler-padding-y: 0.4rem;
$navbar-toggler-padding-x: 0.8rem;
$dropdown-min-width: 9rem;
$dropdown-padding-y: 0.7rem;
$dropdown-spacer: 0.3rem;
$dropdown-divider-bg: rgb(34, 44, 18);
$dropdown-bg: rgb(115, 129, 109);
$dropdown-link-hover-bg: rgb(144, 163, 137);
$pagination-padding-x: 1rem;
$pagination-padding-y: .32rem;
$pagination-padding-y-sm: 0.3rem;
$pagination-padding-x-sm: 0.6rem;
$pagination-padding-y-lg: 0.8rem;
$pagination-bg: $body-color;
$pagination-border-color: $black;
$pagination-hover-bg: $gray-800;
$pagination-hover-border-color: $gray-900;
$pagination-disabled-bg: $body-bg;
$pagination-disabled-border-color: $black;
$pagination-disabled-color: $gray-900;
$jumbotron-padding: 2.1rem;
$jumbotron-bg: rgb(92, 99, 90);
$card-spacer-y: 0.8rem;
$card-spacer-x: 1.5rem;
$card-bg: rgb(94, 79, 79);
$popover-bg: $dropdown-bg;
$toast-header-color: rgb(124, 62, 62);
$toast-color: rgb(115, 150, 105);
$toast-background-color: rgb(70, 78, 60);
$toast-header-background-color: rgb(187, 131, 131);
$modal-content-color: rgb(77, 49, 49);
$modal-content-bg: rgb(190, 149, 149);
$progress-bg: rgb(148, 162, 145);
$list-group-bg: rgb(195, 211, 187);
$breadcrumb-bg: rgb(162, 168, 136);
$carousel-control-color: rgb(140, 214, 99);
$carousel-indicator-active-bg: $carousel-control-color;
$spinner-width: 2.5rem;
$code-color: rgb(199, 107, 107);